{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="row" style="margin-top: 30px;">
    <div class="col-md-6">
        <div class="card card-body">
            <h3>Shipping Details</h3>
            {% if order_items %}
            <form id="shipping-form">
                <input type="text" name="address" class="form-control form-input" placeholder="Address" required>
                <input type="text" name="city" class="form-control form-input" placeholder="City" required>
                <input type="text" name="state" class="form-control form-input" placeholder="State" required>
                <input type="text" name="country" class="form-control form-input" placeholder="Country" required>
                <input type="text" name="zipcode" class="form-control form-input" placeholder="Zipcode" required>
                <input type="submit" class="btn btn-success btn-block"value="Make Payment">
            </form>
            {% else %}
            <p>You dont have anything in cart. Continue Shopping and Come Back</p>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <div class=" card card-body">
            <a href="{% url 'cart' %}" class="btn btn-outline-dark">Back to Cart</a>
            <br>
            {% if order_items %}
            <h3>Order Summary</h3>
            <br>
            <table class="table table-dark">
                {% for item in order_items %}
                <tr>
                    <td style="height: 120px;width: 30%;"><img src="{{item.product.image.url}}" width="100%" height="100%"></td>
                    <td>{{item.product.name}}</td>
                    <td>${{item.product.price}}</td>
                    <td>x{{item.quantity}}</td>
                </tr>
                {% endfor %}
            </table>
            <div class="card card-body" style="background-color: #343A40;color: white;">
                <p style="float: left;">Total Items: {{order.cart_items_count}}</p>
                <p style="float: left;">Total: ${{order.order_total|floatformat:2}}</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
<script>
    let form=document.getElementById('shipping-form')
    form.addEventListener('submit',function(event){
        event.preventDefault();
        var address=form.elements['address'].value
        var city=form.elements['city'].value
        var state=form.elements['state'].value
        var country=form.elements['country'].value
        var zipcode=form.elements['zipcode'].value
        var shippingdetails={
            'address':address,
            'city':city,
            'state':state,
            'country':country,
            'zipcode':zipcode
        }
        // alert(shippingdetails.address)
        // alert(shippingdetails['address'])
        var url='/order_complete/'
        fetch(url,{
            'method': 'POST',
            'headers': {
                'Content-Type':'application/json',
                'X-CSRFToken':csrftoken,
            },
            'body': JSON.stringify({'shippingdetails':shippingdetails})
        })
        .then((response)=>{
            return response.json()
        })
        .then((data)=>{
            console.log(data)
            alert('transaction completed')
            window.location.replace('/')
        })
    })
</script>
{% endblock %}