{% extends 'admin_base.html' %}
{% block content %}
<div style="width: 40%;margin: auto;background-color: lightblue;" class="card card-body">
    <form method="POST" action="" enctype="multipart/form-data" style="text-align:center;">{% csrf_token %}
        {{form.name}}
        {{form.price}}
        {{form.d1}}
        {{form.d2}}
        {{form.d3}}
        {{form.d4}}
        {{form.d5}}
        {{form.d6}}
        {{form.image.label}}
        {{form.image}}
        {{form.largeimage.label}}
        {{form.largeimage}}
        {% if create %}
        <input type="submit" class="btn btn-dark btn-block" value="Post">
        {% else %}
        <input type="submit" class="btn btn-dark btn-block" value="Update Phone">
        {% endif %}
    </form>
    <hr style="border: 1px solid #5575FC;">
    <a href="{% url 'admin_home' %}" class="btn btn-dark">Cancel</a>
</div>
{% endblock %}