{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<style>
    body{
        background-color: #F0F2F5;
    }
</style>
<div class="container-fluid">
<div style="width: 20%;float: left;padding: 5px;">
    <div class="card card-body" style="background-color: white;height: 500px;">
    </div>
</div>
<div style="float: left;padding: 5px;width: 80%;">
    <div class="card card-body" style="background-color: white;">
        {% for product in products %}
           <a href="{% url 'view' product.id %}">
               <div>
                <div style="width:20%;float: left;text-align: center;">
                    <img src="{{product.image.url}}" width="50%" height="220px">
                </div>
                <div style="width:50%;float:left;margin-left: 4%;">
                    <p  class="title" style="font-weight: 600;font-size: 18px;">{{product.name}}</p>
                    <p class="description">{{product.d1}}</p>
                    <p class="description">{{product.d2}}</p>
                    <p class="description">{{product.d3}}</p>
                    <p class="description">{{product.d4}}</p>
                    <p class="description">{{product.d5}}</p>
                    <p class="description">{{product.d6}}</p>
                </div>
                <div style="float:left;margin-left: 2%;">
                    <p style="font-size: 25px;color: black;font-weight: 600;">₹{{product.price|floatformat:0|intcomma}}</p>
                </div>
                </div></a>
            <hr>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}
